@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: hsl(210 40% 98%);
  --black: #121212;

  --background: white;
  --foreground: var(--black);

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pretendard-regular);
  --font-mono: var(--font-bungee-hairline);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard-regular), Arial, Helvetica, sans-serif;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: none;
}

.dark {
  --background: var(--black);
  --foreground: var(--white);

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;
}

.custom-cursor {
  width: 10px;
  height: 10px;
  background-color: #f78535;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}

.ripple {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: #f78535;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9998;
  transform: translate(-50%, -50%);
  animation: ripple 0.5s ease-out forwards;
}

@keyframes ripple {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

::selection {
  background-color: #f7863594;
  color: white;
}

::-moz-selection {
  background-color: #f7863594;
  color: white;
}
